# IntelliVerse-X fork ownership
# Upstream project remains GPL-3.0 (see /LICENSE). Reviewers must keep that notice intact.

*       @Anisid930 @anideebee7

/.github/       @Anisid930 @anideebee7
/LICENSE        @Anisid930 @anideebee7
/README.md      @Anisid930 @anideebee7
/INTELLIVERSE.md @Anisid930 @anideebee7
